.icone-menu {
    width: 50px;
}

.bloco-dois, .bloco-tres, .bloco-quatro, .bloco-cinco, .bloco-seis {
    margin-top: 50px;
}

/* 
.img-rodape{
    width: 400px;
} */

footer {
    color: white;
    padding: 20px 0;
    background-color: brown;
}

.a-rodape {
    text-decoration: none;
    color: white;
}

.a-rodape:hover {
    text-decoration: none;
    color: white;
}

#menu{
	position:fixed;
	z-index: 9999;
	width:100%;
}